:root {
    --primary: #007BFF; /* Azul */
    --secondary: #28A745; /* Verde */
    --light: rgb(70, 247, 70);
    --dark: #12141D;
}

body {
    margin: 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99;
}

.my-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.py-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #f5f5f5;
    background-color: var(--primary);
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar.fixed-top {
    display: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        padding: 10px 15px;
    }

    .navbar.fixed-top {
        padding-top: 56px;
    }

    .navbar-toggler {
        padding: .25rem .5rem;
        font-size: 1.25rem;
        line-height: 1;
    }

    .navbar-collapse {
        max-height: none;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 10px 0;
    }

    .navbar-toggler {
        margin: .25rem 0;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggler-icon {
        display: block;
        background-color: transparent;
        background-image: none;
        border: none;
    }

    .navbar-collapse.show {
        display: flex !important;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .navbar-brand {
        margin-right: 0;
    }
}

/*** Header ***/
#home {
    margin-bottom: 3rem;
    background: url(../img/Leonardo_Diffusion_XL_Picture_an_image_that_represents_the_con_0.jpg) left top no-repeat;
    background-color: rgb(106, 172, 243);
    background-size: cover;
    padding: 3rem;
    width: 100%;
    box-sizing: border-box;
}

.typed-cursor {
    font-size: 20px;
    color: var(--dark);
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--primary);
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid var(--primary);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/* Ajustes específicos para mejorar la visualización en móviles */
@media (max-width: 768px) {
    .navbar .navbar-nav .nav-link {
        font-size: 16px; /* Tamaño de fuente más pequeño */
    }

    #home {
        padding: 2rem; /* Menos padding */
    }

    .my-6, .py-6 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .btn-lg-square, .btn-sm-square, .btn-square {
        width: 32px; /* Botones más pequeños */
        height: 32px;
    }

    .typed-cursor {
        font-size: 18px; /* Cursor de tipado más pequeño */
    }
}

